.logo{
    margin: auto;
    padding-top: 300px;

    width: 275;
}
.text_input{
    margin: auto;
    position: absolute;
    bottom: 450;
    left: 570;
    width: 550;
    height: 40;
    border-radius: 18px;
    border-style:solid;
    border-width: 0.1;
    padding-left: 25;
}

.button{
    
    position:relative;
    top: 80;
    left:800;



  
}

.nav-bar {
    display: inline;
    list-style-type: none;
    position:absolute;
    top:0;
    right:30;
    font-size: 18px;

    
}


  #profile{ 
      display: inline;
      width: 30;
      height: 30;
      border-radius: 50%;


  }

  .footer-box{
    display: block;
    background-color: lightgray;

    position:absolute;
    bottom:0;
    right:0;
    left: 0;
    opacity: 40%;
  }
  #footer-box1{
    display: block;
    background-color: lightgray;
    opacity: 40%;

    position:absolute;
    bottom:50;
    right:0;
    left: 0;
  }

.footer-box-right{
    position: relative;
    left: 1150;
}
li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
